body{
  background:gray;
}

.container{
  padding-top:10px;
  background:white;
}

#logo{
  max-width:30%;
  padding-bottom:5%;
}

/*------------Navigation Bar -----------------*/
.navbar-wrapper{
  margin-top:10px;
}

.navbar{
  margin-bottom:0px;
}

nav{
  height:50px;
}
.navbar-right button{
  margin-top:10%;
  margin-right:10px;
}
